$label-top: -22px;
$left-offset: 24px;

.form-item {
  margin-bottom: 35px;
  position: relative;
  &.focus {
    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $grey_2;
    }
    label {
        top: $label-top;
        font-size: 12px;
      }
  }
  &.error {
    input {
      border-bottom: 1px solid $red;
    }
    .icon {
      svg {
          fill: $red;
      }
    }

  }
  .icon {
    width: 15px;
    height: 18px;
    position: absolute;
    display: flex;
    top: 0;
    svg {
      width: 100%;
      height: 100%;
      fill: $grey_3;
    }
  }

  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $grey_2;
    transition: all 0.4s;
    padding-left: $left-offset;
    color: #0c0f14;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.03px;

    &:focus {
      outline: none;
      + label {
        top: $label-top;
        font-size: 12px;
      }
    }
  }
  label {
    position: absolute;
    top: -8px;
    left: $left-offset;
    will-change: transform;
    transition: all 0.4s;
    color: $grey_3;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.5;
    letter-spacing: 0.03px;

  }

  .correct-icon {
    position: absolute;
    right: 0;
    top: 5px;
    display: flex;
    .correct {
      width: 12px;
      height: 11px;
      display: flex;
      visibility: hidden;
      position: relative;
      fill: $green;
      svg {
        width: 100%;
        height: 100%;
      }
    }

    .incorrect {
      width: 11px;
      height: 11px;
      display: flex;
      position: absolute;
      visibility: hidden;
      fill: $red;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &.focus {
    .correct-icon {
      .correct {
        visibility: visible;
      }
      .incorrect {
        visibility: hidden;
      }
    }
  }
  &.error {
    .correct-icon {
      .incorrect {
        visibility: visible;
      }
      .correct {
        visibility: hidden;
      }
    }
  }

  .error-message {
    color: $red;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.03px;
    padding-left: 24px;
    margin: 0;
    list-style: none;
  }
}

/*Элемент формы для ввода пароля*/
.form-item.password {
  .icon {
    width: 18px;
    height: 20px;
  }

  /*Кнопка показать пароль*/
  .show-password {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 22px;
    height: 13px;
    svg {
      width: 100%;
      height: 100%;
      fill: $grey_3;
    }
    path {
      fill: $grey_3;
    }
  }
  /*Кнопка показать пароль end*/
}
/*Элемент формы для ввода пароля end*/