/*general*/
.navbar {
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 10;
  width: 100%;
  padding: 10px 40px;
  box-shadow: 0 0 12px 6px rgba(164, 183, 190, 0.2);
  @include phone {
    padding: 10px 20px;
  }
}
.navbar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*general end*/


/*left column*/
.navbar__logo {
  img {
    width: 95px;
    height: 24px;
    user-select: none;
  }
}
/*left column end*/


/*right col*/
.right_col {
  display: flex;
  align-items: center;
  >*{
    margin-right: 30px !important;
    @include phone {
      margin-right: 15px !important;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.button-wrapper {
  position: relative;
  .dropdown-menu {
    min-width: 174px;
    left: 50%;
    transform: translateX(-50%);
  }
  .dropdown-menu__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
    }
    span {
      line-height: 1;
      width: 24px;
      height: 24px;
      display: flex;
      margin-right: 16px;
      img {
        max-width: 100%
      }
    }
  }
}

.navbar__share {
  border: none;
  margin: 0;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 8px rgba(164, 183, 190, 0.8);
  background-color: $color_1;
  border-radius: 50%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: visible;
  display: block;
  svg {
    width: 100%;
    height: 100%;
  }
  svg path{
    fill: #ffffff;
  }

}

.button-wrapper {
  @include phone {
    margin-right: 0 !important;
  }
}

.navbar__settings {
  border: none;
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 8px rgba(164, 183, 190, 0.8);
    background-color: #e8f0f3;
  }
  svg {
    width: 100%;
    height: 100%;
    path {
      fill: $color_3;
    }
    circle {
      transition: all 0.2s;
      fill:#FFFFFF;
      stroke:#0C0F14;
      stroke-width:3;
      stroke-miterlimit:10;
    }
  }

  &.open {
    box-shadow: 0 0 8px rgba(164, 183, 190, 0.8);
    background-color: #e8f0f3;
    svg {
      #circle_x5F_1 {
        transform: translateX(50%);
      }
      #circle_x5F_2 {
        transform: translateX(-50%);
      }
      #circle_x5F_3 {
        transform: translateX(50%);
      }
    }
  }
  @include phone {
    display: none;
    margin-right: 0 !important;
  }
}

.navbar__menu-button {
  border: none;
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 10px 5px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  border: 0;
  position: relative;
  overflow: hidden;

  .hamburger-box {
    position: relative;
    width: 100%;
    height: 100%;
    &:after, &:before {
      position: absolute;
      width: 100%;
      height: 2px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: $color_3;
      display: block;
      content: "";
      left: 0;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }
  .hamburger-inner {
    transition-delay: .22s;
    transition: background-color 0s linear .13s;
    position: absolute;
    width: 100%;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000;
    top: 50%;
    display: block;
    margin-top: -1px;
  }
  &.open {
    .hamburger-inner {
      transform: translate3d(50px,0,0);
    }
    .hamburger-box {
      &:before {
        top: 0;
        transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
        transform: translate3d(0,10px,0) rotate(45deg);
      }
      &:after {
        top: 0;
        transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
        transform: translate3d(0,10px,0) rotate(-45deg);
      }
    }
  }
}

.navbar__autosave-icon {
  display: flex;
  position: relative;
  width: 28px;
  height: 28px;

  .loading-icon {
    position: absolute;
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    will-change: transform;
    border-radius: 50%;
    background: $color_3;
    padding: 1px;
    opacity: 0;
    user-select: none;
    span {
      background: #fff;
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      user-select: none;
    }
    &:after {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      width: 5px;
      height: 5px;
      background: #fff;
    }
  }
  &.loading {
    .loading-icon {
      animation: rotate 3s linear 0s infinite;
      opacity: 1;
    }
    img {
      opacity: 0;
    }
  }

  @include phone {
    display: none;
  }
  img {
    width: 100%;
    user-select: none;
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  50% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(360deg)
  }
}


.navbar__add-new {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  &:after {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #0c0f14;
    content: '';
    top: 0;
    left: calc(50% - 1px);
  }
  &:before {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0c0f14;
    content: '';
    top: calc(50% - 1px);
    left: 0;
  }
}

/*right col end*/