
.my-style {
  background-color: transparent !important;
  .notification-content {
    padding: 0 20px;
    box-shadow: 0 0 8px rgba(164, 183, 190, 0.09);
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.09px;
  }

  &.error {
    display: flex;
    .notification-content {
      background: $red_light;
      color: $red;
    }
  }
  &.success {
    display: flex;
    .notification-content {
      background-color: $green_light;
      color: rgba(#01b06d, 0.9);
    }
    @include phone {
      justify-content: flex-end;
      padding-right: 20px;
    }
  }
  &.warning {
    display: flex;
    .notification-content {
      background-color: $notify_warning;
      color: $notify_warning_color;
    }
    @include phone {
      justify-content: flex-end;
      padding-right: 20px;
    }

  }
}
.notification-wrapper {
  margin-top: 5px !important;
}
.notifications {
  top: 90px !important;
  @include phone {
    top: 70px !important;
  }
}
