.my-style {
  .notification-content {
    padding: 0 20px;
    box-shadow: 0 0 8px rgba(164, 183, 190, 0.09);
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.09px;
  }

  &.error {
    display: flex;
    .notification-content {
      background: #f84759;
      color: #fff;
    }
  }
  &.success {
    display: flex;
    .notification-content {
      background-color: #ccefe2;
      color: rgba(#01b06d, 0.9);
    }
  }

  &.my-type {


  }
}
.notification-wrapper {
  margin-top: 5px !important;
}
.notifications {
  top: 90px !important;
}