* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::after {
  box-sizing: border-box;
}
::before {
  box-sizing: border-box;
}

#app {
  overflow: hidden;
}

.phone-only-b {
  display: none !important;
  @include phone {
    display: block !important;
  }
}

/*tooltip*/
.tooltip-wrapper {
  position: relative;
  &:hover {
    .tooltip {
      display: block;
    }
  }
}
.tooltip {
  position: absolute;
  background-color: transparent;
  color: $black;
  display: none;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 80%);
  white-space: nowrap;
  @include phone {
    display: none !important;
  }
}
/*tooltip end*/

/*overlay*/
.overlay {
  position: fixed;
  z-index: 6;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#a4b5be, 0.3);
  display: none;
  &.open {
    display: block;
  }
  @include phone {
    display: none !important;
  }
}
/*overlay end*/

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: $black;
  letter-spacing: 0.4px;
  font-size: 14px;
}
.main_content {
  margin-top: 160px;
}

/*dropdown menu*/
.dropdown-menu {
  margin: 0;
  list-style: none;
  position: absolute;
  top: 150%;
  background: #fff;
  box-shadow: 3px 4px 8px 1px rgba(164, 183, 190, 0.2);
  padding: 0;
  display: none;
  z-index: 5;
  .dropdown-menu__item {
    border-bottom: 1px solid rgba(#a4b7be, 0.15);
    padding: 0 20px;
    opacity: 0.9;
    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.09px;
    &:last-child {
      border-bottom: none;
    }
  }
}
.open {
  >.dropdown-menu {
    display: block;
  }
}
/*dropdown menu*/


main {
  padding-top: 60px;
  height: 100vh;
  @include phone {
    padding-top: 49px;
  }
  .container {
    width: 100%;
    padding: 0 5%;
    margin: 0 auto;
    @include phone {
      width: 100%;
      padding: 0 10px;
    }
    .content {
      max-width: 100%;
      min-height: calc(100vh - 150px);
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      @include phone {
        padding-bottom: 30px;
      }
    }
  }
}

.about-content {
  width: 60%;
  margin: 0 auto;
  @include small {
    width: 100%;
  }
}

.default-content {
  width: 70%;
  margin: 0 auto;
  max-width: 720px;
  @include small {
    width: 100%;
    max-width: unset;
  }
}

.left-col {
  min-width: $left-col;
}


.flex-row {
  display: flex;
}
.jcb {
  justify-content: space-between;
}
.aic {
 align-items: center;
}

/*general normalize*/
input {
  font-family: 'Open Sans', sans-serif;
  color: $black;
  letter-spacing: 0.4px;
  &:focus {
    outline: none;
  }
}
textarea {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: $black;
  resize: none;
  outline: none;
  padding: 0;
  margin: 0;
  overflow-wrap: break-word !important;
  white-space: pre-wrap !important;
  letter-spacing: 0.4px;
}
button {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.4px;
  &:focus {
    outline: none;
  }
}
/*general normalize end*/

.overlay-open {
  overflow: hidden !important;
}

.scrolled {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-face-color: $green;
  scrollbar-track-color: white;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $green;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
  }
}

/*all element for date*/
.date {
  color: $grey_3;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03px;
}
/*all element for date end*/

/*Arrow*/
.arrow {
  width: 10px;
  height: 8px;
  transition: all 0.4s;
  position: relative;
  &:after {
    content: '';
    width: 9px;
    left: 0;
    height: 2px;
    position: absolute;
    background-color: $grey_3;
    transform: rotate(45deg);
    transform-origin: left top;
    border-radius: 2px;
  }
  &:before {
    content: '';
    width: 9px;
    height: 2px;
    right: 0;
    position: absolute;
    background-color: $grey_3;
    transform: rotate(-45deg);
    transform-origin: right top;
    border-radius: 2px;
  }
}
/*Arrow end*/

/*Buttons*/
button.button {
  box-shadow: 0 0 8px rgba(164, 183, 190, 0.8);
  border-radius: 5px;
  background-color: $green;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.16px;
  padding: 0 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$line-height: 1px;
$button-width-height: 10px;

button.close-delete {
  width: $button-width-height;
  height: $button-width-height;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 5;
  &:after, &:before {
    position: absolute;
    content: '';
    //height: calc(100% + #{$line-height});
    height: 125%;
    width: $line-height;
    left: calc(50% - (#{$line-height} / 2));
    background: $black;
    //top: calc(#{$line-height} / 2 * -1);
    top: -12.5%;
  }
  &:after {
    transform: rotate(45deg);
  }
  &:before {
    transform: rotate(-45deg);
  }
}

/*Buttons end*/


/*number of complete*/
.percent-progress {
  color: $green;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.09px;
}
/*number of complete end*/

/*cross*/
.cross {
  width: 14px;
  height: 14px;
  position: relative;
  display: block;
  &:after {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: $grey_3;
    content: '';
    top: 0;
    left: calc(50% - 1px);
  }
  &:before {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $grey_3;
    content: '';
    top: calc(50% - 1px);
    left: 0;
  }
}
/*cross end*/

/*tree point*/
.three_point {
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  margin: 0;
  cursor: pointer;
  padding: 4px;
  &:after {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: $grey_3;
    content: '';
    left: calc(50% - 1px);
    top: calc(50% - 1px);
  }
  span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    &:after, &:before {
      position: absolute;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: $grey_3;
      content: '';
      left: 0;
      top: calc(50% - 1px);
    }
    &:before {
      right: 0;
      left: unset;
    }
  }
}
/*tree point end*/


button[hidden] {
  display: none !important;
}

