* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::after {
  box-sizing: border-box;
}
::before {
  box-sizing: border-box;
}

#app {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}


.overlay {
  position: fixed;
  z-index: 0;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#a4b5be, 0.3);
  display: none;
  &.open {
    display: block;
  }
}
body {
  padding: 0;
  margin: 0;
}
.main_content {
  margin-top: 160px;
}

.open {
  >.dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  margin: 0;
  list-style: none;
  position: absolute;
  top: 150%;
  background: #fff;
  box-shadow: 3px 4px 8px 1px rgba(164, 183, 190, 0.2);
  padding: 0;
  display: none;
  z-index: 5;
  .dropdown-menu__item {
    border-bottom: 1px solid rgba(#a4b7be, 0.15);
    padding: 0 20px;
    opacity: 0.9;
    color: #221600;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.09px;
    &:last-child {
      border-bottom: none;
    }
  }
}

main {
  padding-top: 150px;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-face-color: $color_3;
  scrollbar-track-color: $color_3;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color_1;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $color_6;
    border-radius: 5px;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    @include phone {
      width: 90%;
    }
    .content {
      max-width: 100%;
      padding-bottom: 80px;
      min-height: calc(100vh - 150px);
    }
  }
}

.left-col {
  min-width: $left-col;
}

.flex-row {
  display: flex;
}

.jcb {
  justify-content: space-between;
}
.aic {
 align-items: center;
}

input {
  font-family: 'Open Sans', sans-serif;
}
textarea {
  white-space: pre;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  resize: none;
  outline: none;
}



