.opacity-in {

}

.slide-left-enter-active, .slide-left-leave-active {
  transition: all 0.8s;
  @include phone {
    transition: all 0s;
  }
}
.slide-left-leave-active, .slide-left-leave-to {
  position: absolute;
}
.slide-left-enter, .slide-left-leave-to  {
  opacity: 0;
  transform: translateX(200px);
}


.fade-enter-active, .fade-leave-active {
  transition: all 0.8s;
}
.fade-leave-active, .fade-leave-to {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  form {
    transform: translateX(-200px);
    transition: all 0.8s;
    opacity: 0;
  }
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
  overflow: hidden;
  form {
    transform: translateX(600px);
    transition: all 0.5s;
  }
}
