* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

.overlay {
  position: fixed;
  z-index: 0;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(164, 181, 190, 0.3);
  display: none;
}

.overlay.open {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.main_content {
  margin-top: 160px;
}

.open > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin: 0;
  list-style: none;
  position: absolute;
  top: 150%;
  background: #fff;
  -webkit-box-shadow: 3px 4px 8px 1px rgba(164, 183, 190, 0.2);
          box-shadow: 3px 4px 8px 1px rgba(164, 183, 190, 0.2);
  padding: 0;
  display: none;
  z-index: 5;
}

.dropdown-menu .dropdown-menu__item {
  border-bottom: 1px solid rgba(164, 183, 190, 0.15);
  padding: 0 20px;
  opacity: 0.9;
  color: #221600;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.09px;
}

.dropdown-menu .dropdown-menu__item:last-child {
  border-bottom: none;
}

main .container {
  width: 90%;
  margin: 0 auto;
}

main .container .content {
  margin-top: 150px;
}

.left-col {
  min-width: 40px;
}

textarea {
  white-space: pre;
  width: 100%;
  resize: none;
}

.my-style .notification-title {
  background: red;
  color: red;
}

.my-style.success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-style.success .notification-content {
  padding: 0 20px;
  -webkit-box-shadow: 0 0 8px rgba(164, 183, 190, 0.09);
          box-shadow: 0 0 8px rgba(164, 183, 190, 0.09);
  border-radius: 5px;
  background-color: #ccefe2;
  text-align: center;
  line-height: 40px;
  color: rgba(1, 176, 109, 0.9);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.09px;
}

.notification-wrapper {
  margin-top: 5px !important;
}

.notifications {
  top: 90px !important;
}

.progress-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-bar .left-col {
  text-align: center;
}

.progress-bar__wrapper {
  height: 6px;
  -webkit-box-shadow: inset 0 0 2px rgba(11, 15, 19, 0.05);
          box-shadow: inset 0 0 2px rgba(11, 15, 19, 0.05);
  border-radius: 3px;
  background-color: #e8f0f3;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.percent-progress {
  opacity: 0.8;
  color: #01b06d;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.09px;
}

.progress-bar__progress {
  height: 100%;
  position: absolute;
  left: 0;
  width: 20%;
  background-color: #01af6c;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/*CheckList name */

.checklist__name {
  color: #0c0f14;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.13px;
  border: none;
}

.checklist__name:focus {
  border: none;
}

.checklist__name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checklist__name-wrapper .icon {
  width: 20px;
  height: 20px;
  border: 2px solid #cdd9dd;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.checklist__name-wrapper .icon svg {
  width: 120%;
  height: 120%;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  left: -2px;
  top: -4px;
  z-index: 0;
}

.checklist__name-wrapper .icon svg polyline {
  fill: none;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  stroke: #01b06d;
  stroke-width: 2;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.checklist__name-wrapper .icon:after {
  position: absolute;
  width: 3px;
  height: 3px;
  content: '';
  right: 0;
  top: 0;
  background: #fff;
  z-index: 1;
}

.checklist__name-wrapper.complete svg polyline {
  stroke-dashoffset: 0;
}

/*CheckList name end*/

/*CheckBox Description */

.checklist__description-wrapper {
  padding-left: 40px;
}

.checklist__description-wrapper textarea {
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 20px 0;
}

.checklist__description-wrapper .checklist__description-markdown {
  padding: 20px 0;
}

.checklist__description-wrapper:not(.edit) textarea {
  display: none;
}

.checklist__description-wrapper.edit .checklist__description-markdown {
  display: none;
}

.checklist__description {
  color: #a4b7be;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.05px;
  border: none;
}

/*CheckBox Description  end*/

.checklist__item-list {
  margin-top: 53px;
}

.checklist__add-new-item {
  border: none;
  padding: 0;
  background: transparent;
  margin: 10px 0 0 0;
  cursor: pointer;
  color: #a4b5be;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checklist__add-new-item .left-col {
  display: block;
  height: 14px;
  padding-left: 10px;
}

.checklist__add-new-item .icon {
  width: 14px;
  height: 14px;
  position: relative;
  display: block;
}

.checklist__add-new-item .icon:after {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #cdd9dd;
  content: '';
  top: 0;
  left: calc(50% - 1px);
}

.checklist__add-new-item .icon:before {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #cdd9dd;
  content: '';
  top: calc(50% - 1px);
  left: 0;
}

/*Settings*/

.navbar__settings-menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: fixed;
  top: 60px;
  width: 480px;
  right: 0;
  background: #ffffff;
  bottom: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 767px) {
  .navbar__settings-menu {
    width: 100vw;
  }
}

.navbar__settings-menu.open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.navbar__settings-menu > li {
  border-bottom: 1px solid rgba(164, 183, 190, 0.15);
  color: rgba(20, 23, 27, 0.9);
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.09px;
  padding-left: 37px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__settings-menu > li:last-child {
  border-bottom: none;
}

/*Settings end*/

.check-item__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.check-item__label input {
  margin-right: 10px;
  position: absolute;
  opacity: 0;
}

.check-item {
  border-bottom: 1px solid #e8f0f3;
  padding: 10px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.check-item .left-col {
  padding-left: 10px;
}

.check-item input[type="text"] {
  width: 100%;
  border: none;
  color: #0c0f14;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

/*Animation appear*/

.list-enter-active,
.list-leave-active {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.list-enter-active svg polyline,
.list-leave-active svg polyline {
  stroke-dashoffset: 100 !important;
}

.list-enter,
.list-leave-to {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  position: absolute;
}

/*Animation appear end*/

/*Delete item button*/

.check-item:hover .check-item__delete {
  opacity: 1;
}

.check-item__delete {
  border: none;
  padding: 0;
  background: transparent;
  margin: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translate3d(200%, -50%, 0);
          transform: translate3d(200%, -50%, 0);
}

.check-item__delete .icon {
  width: 14px;
  height: 14px;
  position: relative;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.check-item__delete .icon:after {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #cdd9dd;
  content: '';
  top: 0;
  left: calc(50% - 1px);
}

.check-item__delete .icon:before {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #cdd9dd;
  content: '';
  top: calc(50% - 1px);
  left: 0;
}

/*Delete item button end*/

/*CheckBox complete*/

.checklist__item-list.complete .check-item__data-complete {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.checklist__item-list.complete input {
  color: #a4b5be;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: line-through;
  letter-spacing: 0.03px;
}

.checklist__item-list.complete span {
  color: #a4b5be;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03px;
}

.checklist__item-list.complete .checklist__description {
  width: 72px;
  height: 15px;
  color: #a4b5be;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03px;
}

.checklist__item-list.complete .checkbox-svg-wrapper svg polyline {
  stroke-dashoffset: 0;
}

.checkbox-svg-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.checkbox-svg-wrapper:after {
  position: absolute;
  width: 96%;
  height: 96%;
  left: 10%;
  top: 2%;
  z-index: -1;
  content: '';
  border: 1px solid #cdd9dd;
  border-radius: 50%;
}

.checkbox-svg-wrapper svg {
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.checkbox-svg-wrapper svg polyline {
  fill: none;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  stroke: #01b06d;
  stroke-width: 2;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

/*CheckBox complete end*/

.selected-list-wrapper {
  position: relative;
  cursor: pointer;
  line-height: 1.2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selected-list-wrapper > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selected-list-wrapper .arrow {
  width: 12px;
  height: 8px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}

.selected-list-wrapper .arrow:after {
  content: '';
  width: 9px;
  left: 0;
  height: 1px;
  position: absolute;
  background-color: #cdd9dd;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.selected-list-wrapper .arrow:before {
  content: '';
  width: 9px;
  height: 1px;
  right: 0;
  position: absolute;
  background-color: #cdd9dd;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.selected-list-wrapper.open .selected-list {
  display: block;
}

.selected-list-wrapper.open .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.selected-list {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 180%;
  left: 50%;
  background: #fff;
  display: none;
  z-index: 5;
  padding: 20px;
  width: 100%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  -webkit-box-shadow: 0 3px 8px rgba(164, 183, 190, 0.4);
          box-shadow: 0 3px 8px rgba(164, 183, 190, 0.4);
}

.selected-list li {
  padding-bottom: 10px;
}

.selected-list li:last-child {
  padding-bottom: 0;
}

.navbar__settings-menu .selected-list-wrapper {
  width: 150px;
}

.input-button-wrapper {
  position: relative;
  width: 20px;
  height: 6px;
  -webkit-box-shadow: inset 0 0 2px rgba(11, 15, 19, 0.05);
          box-shadow: inset 0 0 2px rgba(11, 15, 19, 0.05);
  border-radius: 3px;
  background-color: #cdd9dd;
  display: block;
}

.input-button-wrapper:after {
  position: absolute;
  left: 0;
  content: '';
  width: 12px;
  height: 12px;
  z-index: 0;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 1px 1px 0 rgba(164, 183, 190, 0.24);
          box-shadow: 1px 1px 0 rgba(164, 183, 190, 0.24);
  background-color: #a4b5be;
}

.input-button-wrapper .input-button {
  position: absolute;
  width: 140%;
  height: 140%;
  opacity: 0;
  top: -20%;
  left: -20%;
  z-index: 5;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.input-button-wrapper.selected {
  border-radius: 3px;
  background-color: #ccefe2;
}

.input-button-wrapper.selected:after {
  left: 10px;
  background-color: #01b06d;
}

/*general*/

.navbar {
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 10;
  width: 100%;
  padding: 10px 40px;
  -webkit-box-shadow: 0 0 12px 6px rgba(164, 183, 190, 0.2);
          box-shadow: 0 0 12px 6px rgba(164, 183, 190, 0.2);
}

@media only screen and (max-width: 767px) {
  .navbar {
    padding: 10px 20px;
  }
}

.navbar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*general end*/

/*left column*/

.navbar__logo img {
  width: 95px;
  height: 24px;
}

/*left column end*/

/*right col*/

.right_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_col > * {
  margin-right: 30px !important;
}

@media only screen and (max-width: 767px) {
  .right_col > * {
    margin-right: 15px !important;
  }
}

.right_col > *:last-child {
  margin-right: 0;
}

.button-wrapper {
  position: relative;
}

.button-wrapper .dropdown-menu {
  min-width: 174px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.button-wrapper .dropdown-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.button-wrapper .dropdown-menu__item a {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-wrapper .dropdown-menu__item span {
  line-height: 1;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
}

.button-wrapper .dropdown-menu__item span img {
  max-width: 100%;
}

.navbar__share {
  border: none;
  margin: 0;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0 0 8px rgba(164, 183, 190, 0.8);
          box-shadow: 0 0 8px rgba(164, 183, 190, 0.8);
  background-color: #01b06d;
  border-radius: 50%;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: visible;
  display: block;
}

.navbar__share svg {
  width: 100%;
  height: 100%;
}

.navbar__share svg path {
  fill: #ffffff;
}

.navbar__settings {
  border: none;
  margin: 0;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0 0 8px rgba(164, 183, 190, 0.8);
          box-shadow: 0 0 8px rgba(164, 183, 190, 0.8);
  background-color: #e8f0f3;
  border-radius: 50%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar__settings svg {
  width: 100%;
  height: 100%;
}

.navbar__settings svg path {
  fill: #0c0f14;
}

.navbar__menu {
  border: none;
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar__menu .hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: opacity,-webkit-filter;
  transition-property: opacity,-webkit-filter;
  transition-property: opacity,filter;
  transition-property: opacity,filter,-webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  position: relative;
}

.navbar__menu .hamburger-inner {
  -webkit-transition-delay: .22s;
          transition-delay: .22s;
  background-color: transparent !important;
  top: 2px;
  -webkit-transition: background-color 0s linear .13s;
  transition: background-color 0s linear .13s;
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 4px;
  background-color: #fff;
  top: 50%;
  display: block;
  margin-top: -2px;
}

.navbar__menu .hamburger-inner:after,
.navbar__menu .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 4px;
  background-color: #0c0f14;
  display: block;
  content: "";
}

.navbar__menu .hamburger-inner.active:before {
  top: 0;
  -webkit-transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.navbar__menu .hamburger-inner.active:after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.navbar__autosave-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .navbar__autosave-icon {
    display: none;
  }
}

.navbar__autosave-icon img {
  width: 28px;
  height: 20px;
}

.navbar__add-new {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.navbar__add-new:after {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #0c0f14;
  content: '';
  top: 0;
  left: calc(50% - 1px);
}

.navbar__add-new:before {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0c0f14;
  content: '';
  top: calc(50% - 1px);
  left: 0;
}

/*right col end*/

