.settings.account {
  padding-left: 30px;
  width: 60%;

  .account-info {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }

  /*Avatar*/
  .avatar-container {
    position: relative;

    /*Avatar preloader*/
    .loading-icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 100px;
      padding: 37px;
      will-change: transform;
      border-radius: 50%;
      background: rgba($color_1, 0.5);
      opacity: 0;
      user-select: none;
      z-index: 7;
      overflow: hidden;
      display: none;
      span {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        user-select: none;
        position: relative;
        svg {
          fill: #fff;
        }
      }
    }
    &.loading {
      .loading-icon {
        animation: rotate 3s linear 0s infinite;
        opacity: 1;
        display: block;
      }
    }
    /*Avatar preloader end*/

    .avatar-wrapper {
      display: flex;
      width: 100px;
      height: 100px;
      box-shadow: 0 0 8px rgba(164, 183, 190, 0.8);
      border-radius: 50%;
      overflow: hidden;
      padding: 8px;
      color: white;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      user-select: none;
      margin-right: 20px;
      position: relative;
      background-color: transparent;
      background-size: cover;
      background-position: center;
      .icon svg {
        width: 100%;
        height: 100%;
        fill: white;
      }
      .icon {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.2s;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#01af6c, 0.5);
      }
    }
    .avatar-wrapper:hover .icon {
      opacity: 1;
    }

    /*Input file*/
    .custom-file-input {
      font-size: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 5;
    }
    .custom-file-input::-webkit-file-upload-button {
      visibility: hidden;
    }

    /*Input file end*/
    .errors-list {
      color: #f84759;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.03px;
      padding-left: 0;
      margin: 0;
      list-style: none;
      position: absolute;
      bottom: -100%;
      width: 100vh;
      transform: translateY(-120%);
    }
  }
  /*Avatar end*/

  /*Name*/
  .account-info__name {
    margin-bottom: 25px;
    opacity: 0.9;
    color: #0b0f13;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.11px;

    .name-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .name-wrapper:hover .icon {
      opacity: 1;
    }
    input {
      border: none;
      font-weight: 600;
      font-size: 16px;
      padding-right: 10px;
    }
    input:focus {
      outline: none;
    }
    .error-message {
      color: #f84759;
      font-size: 12px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0.03px;
      padding-left: 0;
      margin: 0;
      list-style: none;
    }
    .icon {
      display: flex;
      width: 16px;
      height: 16px;
      position: absolute;
      right: -16px;
      cursor: pointer;
      opacity: 0;
      transition: all 0.2s;
      top: 50%;
      margin-top: -8px;
    }
    svg {
      width: 100%;
      height: 100%;
      fill: #0b0f13;
    }
  }
  /*Name end*/


  /* Style for "Log out" */
  .logout {
    opacity: 0.9;
    color: #14171b;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.09px;
    border: none;
    background-color: transparent;
    margin-top: 50px;
    cursor: pointer;
  }

}
