.settings-menu__wrapper {
  width: 240px;
  box-shadow: 3px 4px 25px 2px rgba(164, 183, 190, 0.25);
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding-top: 120px;
  list-style: none;
  @include phone {
    width: 0;
    overflow: hidden;
    transition: width 0.2s;
    z-index: 6;
    &.open {
      width: 100%;
    }
  }
  ul {
    padding-left: 0;
    margin: 0;
    width: 100%;
  }
  li {
    list-style: none;
    transition: background-color 0.2s;
    a {
      height: 54px;
      opacity: 0.9;
      color: #0c0f14;
      font-size: 14px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.09px;
      text-decoration: none;
      padding-left: 40px;
      width: 100%;
      display: block;
    }
    &.active {
      background-color: rgba(#e8f0f3, 0.7);
    }
    &:hover {
      background-color: rgba(#e8f0f3, 0.7);
    }
  }
  .button {
    position: fixed;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 13px;
    line-height: 1;
    top: 120px;
    span {
      -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
    }
    @include phone {
      display: flex;
    }
  }
}