.form-sign {
  .flex-row.jcb.aic {
    flex-wrap: wrap;
  }
  @include phone {
    .button {
      margin-bottom: 40px;
    }
    .form-links {
      width: 100%;
      justify-content: center;
      display: flex;
    }
    .sing-with-wrapper {
      width: 100%;
      justify-content: flex-start;
    }
  }
}