.offer-form-wrapper {

  label {
    color: $grey_3;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.03px;
  }
  textarea {
    border-radius: 2px;
    border: 1px solid $grey_2;
    margin-bottom: 30px;
  }

}


