.spoiler-wrapper {
  .spoiler-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    .left-col {
      display: flex;
      justify-content: flex-start;
      padding-left: 8px;
      .svg-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 19px;
        transition: transform 0.4s;
        svg {
          width: 100%;
          height: 100%;
          margin-top: 5px;
        }
      }
      .lh-chevron__line {
        stroke: $black;
        stroke-width: 6;
        stroke-linecap: square;
        transform-origin: 50%;
        transform: rotate(45deg);
        transition: transform 400ms,stroke 400ms;
        will-change: trasform;
      }
      .lh-chevron__line-right {
        transform: rotate(-45deg);
      }
      &.open {
        .lh-chevron__line {
          transform: rotate(-45deg);
        }
        .lh-chevron__line-right {
          transform: rotate(45deg);
        }
        .svg-arrow {
          transform: translateY(-4px);
        }
      }
    }
  }

  .spoiler:not(.open) {
    overflow: hidden;
  }
  .spoiler {
    transition: all .2s;
  }
}


