.wrapper-user-lists {
  width: 0;
  overflow: hidden;
  transition: all 0.4s;
  will-change: width;
  max-height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  &:after {
    content: '';
    right: 100%;
    width: 1000px;
    background-color: #fff;
    position: absolute;
    top: 0;
  }
  &.open {
    width: 50%;
    overflow-y: auto;
    flex-shrink: 0;
    margin-right: 40px;
    box-shadow: 10px 0px 13px rgba(164, 183, 190, 0.43);
  }
  @include phone {
    right: 0;
    left: 0;
    top: 45px;
    bottom: 0;
    position: absolute;
    z-index: 5;
    //padding-top: 30px;
    transform: translateX(-100%);
    background-color: #fff;
    transition: all 0.4s;
    width: 100% !important;
    &.open {
      transform: translateX(0);
      margin-right: 0;
    }
  }

  .wrapper-user-list-content {
    width: 45vw;
    @include phone {
      width: 100%;
    }
  }
  .add-new-list {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
    color: #a4b5be;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.03px;
    display: flex;
    align-items: center;
    justify-content: center;
    .left-col {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /*sort*/
  .selected-list-wrapper {
    >span {
      color: $grey_3;
    }
    .selected-list {
      min-width: 160px;
    }
    .arrow {
      margin-left: 10px;
      margin-top: 3px;
    }
    @include  phone {
      margin-bottom: 20px;
    }
  }
  /*sort end*/


  /*open all list button*/
  .button {
    position: absolute;
    left: -52px;
    top: 160px;
    display: flex;
    padding: 0 40px 0 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    align-items: center;
    transform: rotate(-90deg);
    span {
      text-transform: none;
      letter-spacing: 0.4px;
      font-weight: 400;
    }
    .arrow {
      margin-left: 20px;
      &:before {
        background-color: #fff;
      }
      &:after {
        background-color: #fff;
      }
    }
    @include phone {
      display: none;
    }
  }
  /*open all list button*/

/*list of list*/
  .user-lists {
    padding-left: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 50px;
    @include phone {
      padding-bottom: 30px;
    }
  }
  /*list of list end*/

  /*item of list*/
  .user-lists__item {
    padding-right: 50px;
    border-bottom: 1px solid $grey_2;
    position: relative;
    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.09px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    .user-lists__item-title {
      padding-right: 20px;
    }
    &:hover {
      background-color: rgba($grey_3, 0.15);
    }
    &:hover {
      .check-item__menu {
        opacity: 1;
      }
    }
    &.active {
      background-color: rgba($grey_3, 0.15);
    }
    .flex-start {
      align-self: flex-start;
    }
    .user-lists__item-info {
      display: flex;
      flex-grow: 1;
      padding: 20px 0;
    }
    .left-col {
      display: flex;
      justify-content: center;
    }
    .icon {
      width: 20px;
      height: 20px;
      border: 2px solid #cdd9dd;
      border-radius: 50%;
      margin-top: 2px;
      position: relative;
      display: flex;
      &.complete {
        polyline {
          stroke-dashoffset: 0;
        }
      }
      svg {
        width: 120%;
        height: 120%;
        transition: all 1s;
        position: absolute;
        left: -2px;
        top: -4px;
        z-index: 2;
        polyline {
          fill: none;
          stroke-dasharray: 100;
          stroke-dashoffset: 100;
          stroke: $green;
          stroke-width: 2;
          transition: all 1s;

        }
      }
      &:after {
        position: absolute;
        width: 3px;
        height: 3px;
        content: '';
        right: 0;
        top: 0;
        background: #fff;
        z-index: 1;
      }
    }
    .percent-progress {
      margin-left: auto;
    }

    .context-menu-wrapper {
      position: absolute;
      top: 20px;
      right: 10px;
      .context-menu__list {
        position: absolute;
        visibility: hidden;
        list-style: none;
        padding-left: 0;
        width: 141px;
        color: $black;
        box-shadow: 0 0 20px 2px rgba(164, 183, 190, 0.45);
        border-radius: 5px;
        background-color: #ffffff;
        right: -3px;
        top: 90%;
        z-index: 5;
      }
      .context-menu__item {
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.9;
        font-size: 14px;
        font-weight: 400;
        line-height: 2.5;
        letter-spacing: 0.09px;
        &:hover {
          background: $grey_1;
        }
      }
      &.open {
        .context-menu__list {
          visibility: visible;
        }
      }
    }
  }
  /*item of list end*/


  /*top sticky title*/
  .user-lists-title-wrapper {
    background-color: #ffffff;
    z-index: 5;
    border-bottom: 1px solid $grey_2;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    @include  phone {
      padding-right: 20px;
      padding-top: 30px;
    }
  }
  .user-lists-title {
    cursor: pointer;
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.13px;
    user-select: none;
    padding: 35px 0;
    display: flex;
    margin: 0;
    align-items: center;
    .left-col {
      justify-content: center;
      display: flex;
    }
    .arrow {
      margin-right: 10px;
      transform: rotate(90deg);
    }
    @include phone {
      padding: 0;
      margin-bottom: 20px;
    }
  }
  /*top sticky title end*/

  .user-lists.done {
    margin-bottom: 0;
    margin-top: 10px;
    .user-lists__item {
      &:first-child {
        border-top: 1px solid $grey_2;
      }
    }
  }



}


/*Button open all list on phone*/
button.user-lists-title-phone {
  cursor: pointer;
  position: absolute;
  left: 0;
  display: flex;
  transform: rotate(-90deg) translateY(-43px);
  align-items: center;
  text-transform: none;
  letter-spacing: 1px;
  padding: 0 25px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  .left-col {
    min-width: unset;
  }
  .arrow {
    margin-left: 10px;
    &:after, &:before {
      background-color: #fff;
    }
  }

  @include  phone {
    position: static;
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.13px;
    padding: 0;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    transform: none;
    margin-left: 10px;
    box-shadow: none;
    display: flex !important;
    .left-col {
      justify-content: center;
      display: flex;
    }
    .arrow {
      margin-right: 10px;
      transform: rotate(-90deg);
      &:after, &:before {
        background-color: #a4b5be;
      }
    }
  }
}
/*Button open all list on phone end*/

