.checklist {
  padding-bottom: 80px;
  padding-top: 80px;
  flex-grow: 1;
  &.scrolled {
    height: calc(100vh - 60px);
    padding-right: 45px;
  }
  @include phone {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

/*CheckList name */
.checklist__name {
  color: $black;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.13px;
  border: none;
  &::placeholder {
    color: $grey_3;
  }
  &:-ms-input-placeholder {
    color: $grey_3;
  }
  &::-ms-input-placeholder {
      color: $grey_3;
  }

  //$grey_3
  &:focus {
    border: none;
  }
}


.checklist__name-wrapper {
  display: flex;
  .left-col {
    display: flex;
    justify-content: center;
    margin-top: 3px;
  }
  .icon {
    width: 20px;
    height: 20px;
    position: relative;
    display: flex;
    z-index: 1;
    svg {
      width: 120%;
      height: 120%;
      transition: all 1s;
      position: absolute;
      left: -2px;
      top: -4px;
      z-index: 3;
      .st0 {
        fill: none;
        stroke-dasharray: 100;
        stroke-dashoffset: 60;
        stroke: $grey_2;
        stroke-width: 1.5;
        transition: all 1s;
        transform: rotate(-15deg);
        transform-origin: center;
      }
      .st1 {
        fill: none;
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
        stroke: $green;
        stroke-width: 2;
        transition: all 1s;
      }
    }
  }
  &.complete {
    svg {
      .st1 {
        stroke-dashoffset: 0;
      }
    }
  }
}

/*CheckList name end*/

/*CheckBox Description */
.checklist__description-wrapper {
  padding-left: $left-col;
  color: #a4b5be;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.05px;
    textarea {
      overflow: hidden;
      padding: 20px 0 0 0;
      font-size: inherit;
      color: inherit;
      letter-spacing: inherit;
      font-weight: inherit;
      font-family: inherit;
    }
    .checklist__description-markdown {
      padding: 20px 0 0 0;
      font-size: inherit;
      color: inherit;
      letter-spacing: inherit;
      font-weight: inherit;
      font-family: inherit;
      p {
        &:first-child {
          margin-top: 0;
        }
      }
      @include phone {
        padding-top: 10px;
      }
    }
    &:not(.edit) textarea{
      display: none;
    }
    &.edit {
      .checklist__description-markdown {
        display: none;

      }
  }

}
.checklist__description {
  color: #a4b7be;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.05px;
  border: none;

}
/*CheckBox Description  end*/



.checklist__item-list {
  margin-top: 30px;
  position: relative;
}

.checklist__add-new-item {
  border: none;
  padding: 0;
  background: transparent;
  margin: 10px 0 0 0;
  cursor: pointer;
  color: #a4b5be;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03px;
  display: flex;
  align-items: center;
  .left-col {
    display: block;
    height: 14px;
    padding-left: 10px;
  }
}



/*Settings*/
.navbar__settings-wrapper {


}
.navbar__settings-menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: fixed;
  top: 60px;
  width: 480px;
  right: 0;
  background: #ffffff;
  bottom: 0;
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s;
  @include phone {
    width: 100vw;
  }
  &.open {

    transform: translate3d(0, 0, 0);

  }
  >li {
    border-bottom: 1px solid rgba(#a4b7be, 0.15);

    color: rgba(#14171b, 0.9);
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.09px;
    padding-left: 37px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    //color: #14171b;

    &:last-child {
      border-bottom: none;
    }
  }
}

/*Settings end*/